.page-header {
  text-align: center;
}

.page-header img{
  width: 10%;
  height: 10%;
}

img{
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.time li {
  color: blue;
  cursor: pointer;
}

.time li:hover {
  text-decoration: underline;
}
